# Ex1 - Filtering and Sorting Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [3]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [13]:
chipo = pd.read_csv("https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv",sep="\t")
chipo.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

### Step 4. How many products cost more than $10.00?

In [84]:
#first remove $ from item_price
prices = []
for i in chipo["item_price"]:
    prices.append(float(i[1:-1]))
chipo["clean_item_prices"] = prices

#filter for only those with quantity = 1
unique_quantities = chipo[chipo["quantity"] == 1]
unique_quantities = unique_quantities[unique_quantities["clean_item_prices"] > 10]
unique_quantities = unique_quantities.groupby(["item_name"]).min()
unique_quantities = unique_quantities["clean_item_prices"]
# print(type(unique_quantities["clean_item_prices"]))

new_df = pd.DataFrame(unique_quantities)
new_df.head()

                       clean_item_prices
item_name
Barbacoa Bowl                      11.48
Barbacoa Burrito                   11.08
Barbacoa Crispy Tacos              11.48
Barbacoa Salad Bowl                11.89
Barbacoa Soft Tacos                11.48

### Step 5. What is the price of each item? 
###### print a data frame with only two columns item_name and item_price

In [46]:
# divide the item_price & quntity , to get unique prices
chipo["individual_price"] = chipo["clean_item_prices"] / chipo["quantity"]
chipo.groupby(["item_name","individual_price"]).count()

                                        order_id  quantity  \
item_name             individual_price
6 Pack Soft Drink     6.49                    54        54
Barbacoa Bowl         8.69                     3         3
                      8.99                     8         8
                      9.25                    28        28
                      11.48                    6         6
                      11.49                    1         1
                      11.75                   20        20
Barbacoa Burrito      8.69                     2         2
                      8.99                    19        19
                      9.25                    46        46
                      11.08                    1         1
                      11.48                    1         1
                      11.75                   22        22
Barbacoa Crispy Tacos 8.99                     2         2
                      9.25                     5         5
                      11.48                    1         1
                      11.75                    3         3
Barbacoa Salad Bowl   9.39                     5         5
                      11.89                    5         5
Barbacoa Soft Tacos   8.99                     2         2
                      9.25                    15        15
                      11.48                    1         1
                      11.75                    7         7
Bottled Water         1.09                    27        27
                      1.50                   135       135
Bowl                  7.40                     1         1
                      7.40                     1         1
Burrito               7.40                     6         6
Canned Soda           1.09                   104       104
Canned Soft Drink     1.25                   301       301
...                                          ...       ...
Steak Burrito         11.08                    5         5
                      11.48                   21        21
                      11.75                  101       101
Steak Crispy Tacos    8.69                     1         1
                      8.99                     9         9
                      9.25                    14        14
                      11.75                   11        11
Steak Salad           8.69                     1         1
                      8.99                     3         3
Steak Salad Bowl      9.39                    10        10
                      11.89                   19        19
Steak Soft Tacos      8.99                    14        14
                      9.25                    32        32
                      11.48                    3         3
                      11.75                    6         6
Veggie Bowl           8.49                    16        16
                      8.75                    24        24
                      10.98                    4         4
                      11.25                   41        41
Veggie Burrito        8.49                    40        40
                      8.75                    18        18
                      10.98                    4         4
                      11.25                   33        33
Veggie Crispy Tacos   8.49                     1         1
Veggie Salad          8.49                     6         6
Veggie Salad Bowl     8.75                     8         8
                      11.25                   10        10
Veggie Soft Tacos     8.49                     3         3
                      8.75                     2         2
                      11.25                    2         2

                                        choice_description  item_price  \
item_name             individual_price
6 Pack Soft Drink     6.49                              54          54
Barbacoa Bowl         8.69                               3           3
                      8.99                               8           8
                      9.25                              28          28
                      11.48                              6           6
                      11.49                              1           1
                      11.75                             20          20
Barbacoa Burrito      8.69                               2           2
                      8.99                              19          19
                      9.25                              46          46
                      11.08                              1           1
                      11.48                              1           1
                      11.75                             22          22
Barbacoa Crispy Tacos 8.99                               2           2
                      9.25                               5           5
                      11.48                              1           1
                      11.75                              3           3
Barbacoa Salad Bowl   9.39                               5           5
                      11.89                              5           5
Barbacoa Soft Tacos   8.99                               2           2
                      9.25                              15          15
                      11.48                              1           1
                      11.75                              7           7
Bottled Water         1.09                               0          27
                      1.50                               0         135
Bowl                  7.40                               1           1
                      7.40                               1           1
Burrito               7.40                               6           6
Canned Soda           1.09                             104         104
Canned Soft Drink     1.25                             301         301
...                                                    ...         ...
Steak Burrito         11.08                              5           5
                      11.48                             21          21
                      11.75                            101         101
Steak Crispy Tacos    8.69                               1           1
                      8.99                               9           9
                      9.25                              14          14
                      11.75                             11          11
Steak Salad           8.69                               1           1
                      8.99                               3           3
Steak Salad Bowl      9.39                              10          10
                      11.89                             19          19
Steak Soft Tacos      8.99                              14          14
                      9.25                              32          32
                      11.48                              3           3
                      11.75                              6           6
Veggie Bowl           8.49                              16          16
                      8.75                              24          24
                      10.98                              4           4
                      11.25                             41          41
Veggie Burrito        8.49                              40          40
                      8.75                              18          18
                      10.98                              4           4
                      11.25                             33          33
Veggie Crispy Tacos   8.49                               1           1
Veggie Salad          8.49                               6           6
Veggie Salad Bowl     8.75                               8           8
                      11.25                             10          10
Veggie Soft Tacos     8.49                               3           3
                      8.75                               2           2
                      11.25                              2           2

                                        clean_item_prices
item_name             individual_price
6 Pack Soft Drink     6.49                             54
Barbacoa Bowl         8.69                              3
                      8.99                              8
                      9.25                             28
                      11.48                             6
                      11.49                             1
                      11.75                            20
Barbacoa Burrito      8.69                              2
                      8.99                             19
                      9.25                             46
                      11.08                             1
                      11.48                             1
                      11.75                            22
Barbacoa Crispy Tacos 8.99                              2
                      9.25                              5
                      11.48                             1
                      11.75                             3
Barbacoa Salad Bowl   9.39                              5
                      11.89                             5
Barbacoa Soft Tacos   8.99                              2
                      9.25                             15
                      11.48                             1
                      11.75                             7
Bottled Water         1.09                             27
                      1.50                            135
Bowl                  7.40                              1
                      7.40                              1
Burrito               7.40                              6
Canned Soda           1.09                            104
Canned Soft Drink     1.25                            301
...                                                   ...
Steak Burrito         11.08                             5
                      11.48                            21
                      11.75                           101
Steak Crispy Tacos    8.69                              1
                      8.99                              9
                      9.25                             14
                      11.75                            11
Steak Salad           8.69                              1
                      8.99                              3
Steak Salad Bowl      9.39                             10
                      11.89                            19
Steak Soft Tacos      8.99                             14
                      9.25                             32
                      11.48                             3
                      11.75                             6
Veggie Bowl           8.49                             16
                      8.75                             24
                      10.98                             4
                      11.25                            41
Veggie Burrito        8.49                             40
                      8.75                             18
                      10.98                             4
                      11.25                            33
Veggie Crispy Tacos   8.49                              1
Veggie Salad          8.49                              6
Veggie Salad Bowl     8.75                              8
                      11.25                            10
Veggie Soft Tacos     8.49                              3
                      8.75                              2
                      11.25                             2

[139 rows x 5 columns]

### Step 6. Sort by the name of the item

In [88]:
new_df.sort_values('item_name',axis = 0,inplace=True)
new_df.head()

                       clean_item_prices
item_name
Barbacoa Bowl                      11.48
Barbacoa Burrito                   11.08
Barbacoa Crispy Tacos              11.48
Barbacoa Salad Bowl                11.89
Barbacoa Soft Tacos                11.48

### Step 7. What was the quantity of the most expensive item ordered?

In [95]:
chipo.sort_values(["clean_item_prices","quantity"],ascending = False, inplace=True)
chipo.quantity.head(1)

3598    15
Name: quantity, dtype: int64

### Step 8. How many times was a Veggie Salad Bowl ordered?

In [102]:
chipo[chipo["item_name"] == "Veggie Salad Bowl"].count()

order_id              18
quantity              18
item_name             18
choice_description    18
item_price            18
clean_item_prices     18
individual_price      18
dtype: int64

### Step 9. How many times did someone order more than one Canned Soda?

In [107]:
# filter item_name === Canned Soda & quantity > 1

new_df = chipo[chipo["item_name"] == "Canned Soda"]
new_df = chipo[chipo["quantity"] > 1]
len(new_df)

267